<div class="container">
	<h1>User</h1>

	<h3>Save the tasks you need to get to later</h3>

	<p>User ID: {{user.userId}}</p>
	<p>User Name: {{user.userName}}</p>
	<p>First Name: {{user.firstName}}</p>
	<p>Last Name: {{user.lastName}}</p>
	<p>Type user: {{user.UserType.userTypeName}}</p>
	Accounts:
	<ul>
		{{#each user.Accounts}}
		<li>
			<p>Bank: {{Bank.bankName}}</p>
			<p>Number: {{this.number}}</p>
			<p>Initial Balance: {{this.initBalance}}</p>
		</li>
		{{/each}}
	</ul>
	Products:
	<ul>

		{{#each user.Products}}
		<li>
			<p>ID: {{this.productId}}</p>
			<p>Name: {{this.productName}}</p>
			<p>Description: {{this.description}}</p>
			<p>Price: ${{this.price}}</p>
			<img src="{{user.products.imgLink}}" alt="">

		</li>
		{{/each}}

	</ul>

	<div class="form-group">

	</div>

	<form action="/api/user" method="POST">

		<div class="form-group">
			<label for="">Profile Type</label>
			<select class="form-control" name="userTypeId" id="">
				{{#each userTypeAll}}
				<option value="{{this.userTypeId}}">{{this.userTypeName}}</option>
				{{/each}}
			</select>
			<label for="">Email</label>
			<input type="email" class="form-control" name="email" id="" aria-describedby="helpId" placeholder="">
			<small id="helpId" class="form-text text-muted">Help text</small>
			<label for="">User Name</label>
			<input type="text" class="form-control" name="userName" id="" aria-describedby="helpId" placeholder="">
			<small id="helpId" class="form-text text-muted">Help text</small>
			<label for="">First Name</label>
			<input type="text" class="form-control" name="firstName" id="" aria-describedby="helpId" placeholder="">
			<small id="helpId" class="form-text text-muted">Help text</small>
			<label for="">Last Name</label>
			<input type="text" class="form-control" name="lastName" id="" aria-describedby="helpId" placeholder="">
			<small id="helpId" class="form-text text-muted">Help text</small>
			<label for="">Password</label>
			<input type="password" class="form-control" name="password" id="" aria-describedby="helpId" placeholder="">
			<small id="helpId" class="form-text text-muted">Help text</small>
			<label for="">Confirm Password</label>
			<input type="password" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
			<small id="helpId" class="form-text text-muted">Help text</small>
			<label for="">Phone Number</label>
			<input type="phone" class="form-control" name="phone" id="" aria-describedby="helpId" placeholder="">
			<small id="helpId" class="form-text text-muted">Help text</small>
			<label for="">Street</label>
			<input type="text" class="form-control" name="street" id="" aria-describedby="helpId" placeholder="">
			<small id="helpId" class="form-text text-muted">Help text</small>
			<label for="">City</label>
			<input type="text" class="form-control" name="city" id="" aria-describedby="helpId" placeholder="">
			<small id="helpId" class="form-text text-muted">Help text</small>
			<label for="">State</label>
			<input type="text" class="form-control" name="state" id="" aria-describedby="helpId" placeholder="">
			<small id="helpId" class="form-text text-muted">Help text</small>
			<label for="">Zip Code</label>
			<input type="text" class="form-control" name="zipCode" id="" aria-describedby="helpId" placeholder="">
			<small id="helpId" class="form-text text-muted">Help text</small>
		</div>
		<button type="submit">Submit</button>
	</form>
</div>